/* start of global css codes */

body{
  font-family: "Roboto", sans-serif!important;
}

.block-level {
    width: 120px;
    height: 120px;
    margin: 20px;
    position: relative;
    float: left;
}

.black{
  background-color: black;
}

.align-right{
  text-align: right;
}

.align-left{
  text-align: left;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.drop-shadow {
    background: #9479fa;
}

.drop-shadow.bottom {
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4)
}

.bordered-link {
    display: inline-block;
    padding: 8px;
    border: 3px solid #f15c75;
    border-radius: 6px;
    box-shadow: 
        0 2px 1px rgba(0, 0, 0, 0.2), 
        inset 0 2px 1px rgba(0, 0, 0, 0.2);
    /* Font styles */
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #222;
}

.bordered-link:hover {
    border-color: #f09dab;
    text-decoration: none;
    color:black;
}

.bordered-link:active {
    border-color: #f09dab;
}

/* end of global css codes */

header{
  color:white;
  background-image: url(images/splash_bg.jpg);
  background-size: cover;
}

.phonebar{
  text-align: right;
}

.phone-icon{
  height:20px;
  width:20px;
}