/* start of global css codes */

body{
  font-family: "Nunito Sans", sans-serif!important;
}

.block-level {
    width: 120px;
    height: 120px;
    margin: 20px;
    position: relative;
    float: left;
}

.white-text{
  color:white;
}

.black-text{
  color:black;
}

.vertical-middle{
  vertical-align: middle;
}

.align-left{
  text-align: left;
}

.align-center{
  text-align:center;
}

.align-right{
  text-align: right;
}

.align-item-center{
  align-items: center;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.drop-shadow {
    background: #9479fa;
}

.drop-shadow.bottom {
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4)
}

.bordered-link {
    display: inline-block;
    padding: 8px;
    border: 3px solid #f15c75;
    border-radius: 6px;
    box-shadow: 
        0 2px 1px rgba(0, 0, 0, 0.2), 
        inset 0 2px 1px rgba(0, 0, 0, 0.2);
    /* Font styles */
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #222;
}

.bordered-link:hover {
    border-color: #f09dab;
    text-decoration: none;
    color:black;
}

.bordered-link:active {
    border-color: #f09dab;
}

.white-link{
    color:white;  
}

.margin-right-10{
  margin-right: 10px;
}

.margin-right-20{
  margin-right: 20px;
}

.margin-right-30{
  margin-right: 30px;
}

.margin-right-40{
  margin-right: 40px;
}

.margin-right-50{
  margin-right: 50px;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-top-20{
  margin-top: 20px;
}

.margin-top-30{
  margin-top: 30px;
}

.margin-top-40{
  margin-top: 40px;
}

.margin-top-50{
  margin-top: 50px;
}

.margin-bottom-10{
  margin-bottom: 10px;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.margin-bottom-30{
  margin-bottom: 30px;
}

.margin-bottom-40{
  margin-bottom: 40px;
}

.margin-bottom-50{
  margin-bottom: 50px;
}

.padding-bottom-150{
  padding-bottom: 150px;
}

hr{
  border: 1px solid grey!important;
}

/* end of global css codes */

header{
  color:white;
  background-image: url(images/splash_bg_dark.jpg);
  background-size: cover;
}

.phone-icon{
  height:20px;
  width:20px;
}

.rotapix-logo{
  
}

nav ul li{
  display:inline;
}

.generate-seo-button {
	background-color:#1b7cbc;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:12px 21px;
	text-decoration:none;
}
.generate-seo-button:hover {
  color:white;
  text-decoration: none;
  background-color:#166a9e;
}
.generate-seo-button:active {
	position:relative;
	top:1px;
}

.what-is-seo p{
  position: absolute;
  top:20%;
}

.imac-content{
  width: 100%;
}

.why-choose-rotapix{
  background-color: #bcdee7;
}

/* start css code for card hover effect */

#sec {
  font-family: 'Raleway', sans-serif;
  padding: 50px 0;
  background: #bcdee7;
  text-align: center;
  word-wrap: break-word;
}
#sec h2 {
  font-weight: 200;
  font-size: 30px;
  color: #63B7E6;
}
#sec ul {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
}
#sec ul li {
  padding: 40px;
  width: 300px;
  transition: box-shadow .3s;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  margin-right:50px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#sec ul li:hover {
-webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  transition: 0.5s;
}

#sec ul li span {
  font-size: 2.6em;
  display: block;
  transition: color .3s;
  color: #A2A2A2;
}
#sec ul li span:before, #sec ul li span:after {
  position: static;
}
#sec ul li h3 {
  color: black;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  transition: color .3s;
}

#sec ul li p {
  color: black;
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  transition: color .3s;
}

.card-img{
  margin-bottom: 30px;
}

/* end css code for card hover effect */